repos:
  # Docstring enforcement
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: docstring-check
        args:
          - '--convention=google'
          - '--add-ignore=D100,D104,D105,D107'  # Ignore module, package, magic, __init__ docstrings
        files: ^src/core/.*\.py$

  # Standard Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-ast

  # Python syntax check
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
